/* HEADER */
:root {
  --greylight: #eee;
}

body {
  background-color: white;
}

/* HEADER */
header .menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: var(--secondary);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, .66);
  text-transform: uppercase;
  text-decoration: none;
  white-space: normal;
  list-style: none;
}

header .menu li {
  padding: 5px 10px;
}

header .menu li.mobile-title {
  display: none;
}

header .menu a {
  text-decoration: none;
  color: var(--white);
}

header .menu a:hover {
  color: var(--greylight);
}

@media (max-width: 420px) {
  header .menu {
    flex-direction: column;
  }
  header .menu li.mobile-title {
    display: list-item;
  }
}

/* FOOTER */

/* Contact data */
.contact {
  display: flex;
  background-color: var(--secondary);
  color: var(--white);
}

.contact .contact-column {
  width: 50%;
  padding: 20px;
}

.contact .contact-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
}

@media (max-width: 420px) {
  .contact {
    flex-direction: column;
  }
  .contact .contact-column {
    width: 100%;
  } 
}

/* Form */
.contact-form input[type=text],
.contact-form input[type=e-mail],
.contact-form textarea {
  width: 100%;
}

.contact-form input[type=submit] {
  -webkit-appearance: none;
  background-color: white;
  border: none;
  padding: 2px 15px;
  color: var(--secondary);
  font-weight: 500;
}
.contact-form .form-header {
  font-size: 20px;
}

/*PAGES*/

/*About me*/ 
.about-me-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: url("img/background.jpg");
  background-size: cover;
}

.about-me-picture .about-me-title {
  text-align: center;
  font-size: 30px;
  color: var(--white);
}

.about-me-description {
  display: flex;
  color: var(--secondary);
}

.about-me-description .about-me-column {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-description .about-me-column-text {

}

.about-me-description img {
  max-width: 60%;
  margin: 20px;
}

.about-me-description h2 {}
.about-me-description p {}

@media (max-width: 420px) {
  .about-me-description {
    flex-direction: column;
  }
  .about-me-description .about-me-column {
    width: 100%;
  } 
}


