/* HEADER */
:root {
  --greylight: #eee;
}

body {
  background-color: white;
}

/* HEADER */
header .menu {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: var(--secondary);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, .66);
  text-transform: uppercase;
  text-decoration: none;
  white-space: normal;
  list-style: none;
}

header .menu li {
  padding: 5px 10px;
}

header .menu li.mobile-title {
  display: none;
}

header .menu a {
  text-decoration: none;
  color: var(--white);
}

header .menu a:hover {
  color: var(--greylight);
}

@media (max-width: 420px) {
  header .menu {
    flex-direction: column;
  }
  header .menu li.mobile-title {
    display: list-item;
  }
}

/* FOOTER */
.contact {
  display: flex;
}